/* Register.css */


#loginFit {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
 
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #6e7782, #872dd6);
 background: url("../../assets/BG/login.png");
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  justify-self: center;
  align-self: center;
}

 #loginFit fieldset{
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  background-color: #6e778240;
 }

 #loginFit fieldset form .submit{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
 #loginFit fieldset legend {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fdfeff;
  margin-bottom: 25px;
}

 #loginFit fieldset form {
  display: flex;
  flex-direction: column;
  gap:10px;
   padding: 10px;
   background-color: #6e778220;
}

 #loginFit fieldset form div input, #registerFit fieldset form  select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

 #loginFit fieldset form div input:focus,#registerFit fieldset form select:focus {
  border-color: #ee0979;
  box-shadow: 0 0 8px rgba(238,9,121,0.4);
  outline: none;
}

 #loginFit fieldset form .submit button , #loginFit fieldset form .submit .role{
  background: #d38b2de8;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

 #loginFit fieldset form .submit .role, #loginFit fieldset form .submit .role select{
    background: #f4f3f3;
    outline: none;
   
    border: none;
 }

 #loginFit fieldset form .submit button:hover {

    background: #2a25c2d2;
  transform: translateY(-2px);
}



@keyframes slideUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Responsive */
@media (max-width: 480px) {
  #loginFit {
    padding: 20px;
  }
   #loginFit fieldset legend {
    font-size: 1.6rem;
  }
}
