#profile{
    width: 100%;
    background-color: rgb(130, 164, 195);
    padding: 20px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex: 1;
}


#profile button{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
}