#user {
   /* background-color: rgb(86, 84, 84); */
    width: 100%;
    min-height: calc(100vh);
    display: flex;


}


#open{
    
    width: 40px;
    height: 40px;

    display: flex;
    position: fixed;
    left: 2px;
    top: 70%;
    z-index: 5;
    align-self: start;
    
    justify-self: center;
border-radius: 10% 50%  50% 10%;
/* border: solid rgb(203, 192, 192); */
text-align: center;
    background-color: rgba(255, 252, 252, 0.359);
}

#open span{
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 2px;
    font-size: larger;

    

}
.open{
    display:none ;
    
}








.main {
    width: 100%;
    min-height: 100%;
    background-color: rgb(108, 131, 131);
    display: flex;

}

.main-container {

    display: flex;
    width: 100%;
    min-height: 100%;
}








.aside{
 display: flex;
 background-color: none;
}
.subAside{

   
    width: 100%;
       background-color: rgb(126, 164, 87);
    height: 100%;
    min-width: fit-content;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.links{
    display: flex;
    width: 100%;
    flex-direction: column;
align-items: center;
padding: 10px;
    background-color: aliceblue;
    flex: 1;
    gap: 20px;
}
.links span{
 padding: 15px;
 border-radius: 10px;
color: rgb(251, 244, 248);
 background-color: rgb(114, 114, 141);
  text-align: center;
    display: block;
    width: 100%;
}

.links span:hover{
    cursor: pointer;
    color: blue;
    background-color: rgba(68, 65, 65, 0.537);
   
   

}



.out{
    background-color: rgba(110, 160, 197, 0.667);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.out button{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.373);
    color: aliceblue;
}
